{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Amulance Finding</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
<script src="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css" rel="stylesheet" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
<link rel="stylesheet" href="{% static 'css/track.css' %}">
<style>
	body { margin: 0; padding: 0; }
    #map { position: absolute; top: -35%; bottom: 0;right: 0; width: 70%; }
</style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Ambulance Finding</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" style="margin-left: 5%;">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'ambulances' %}">Ambulances</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'first-aid' %}">First Aid</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'user-hospitals' %}">Hospitals</a>
            </li>
            {% if user.is_authenticated %}
            <li>
              <a class="nav-item nav-link" href="{% url 'track' %}">Track</a>
            </li>
            {% endif %}
          </ul>
        </div>
        <!-- Navbar Right Side -->
        <div class="navbar-nav">
            {% if user.is_authenticated %}
              <a class="nav-item nav-link">Welcome {{user.username}}</a>
              
              <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
              <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
            {% else %}
              <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
              <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
            {% endif %}
          </div>
      </nav>
      <div class="container">

    <div class="row">
        <div class="col-sm" style="margin-top: 15%;">
            <h3>Track Ambulance</h3><br>
                <div id='listings'></div>
    </div>
        </div>
        <div class="col-sm" style="height: 400px;">
            <div id="map"></div>
        </div>
    </div>
</div>

<script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoicm9iaW5ob29kNWI3IiwiYSI6ImNrN3Q4ZzNkdTBzdDEzbW91bXJmYmZyazkifQ.-TbB_9K9jFUtYdqbWxVsLw';
    var map = new mapboxgl.Map({
        container: 'map', // container id
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [78.658839, 17.162138], // starting position
        zoom: 11,
        pitch: 60, // pitch in degrees
        bearing: -60  // starting zoom
    });
    
    // Add geolocate control to the map.
    var geolocate = new mapboxgl.GeolocateControl();
    map.addControl(geolocate);
    map.addControl(new mapboxgl.FullscreenControl());

        geolocate.on('geolocate', function(e) {
            var lon = e.coords.longitude;
            var lat = e.coords.latitude
            var position = [lon, lat];
            //console.log(position);
            document.getElementById("location").value=position;
        });var stores = {
            "type": "FeatureCollection",
            "features": [
            
              {
                "type": "Feature",
                "geometry": {
                  "type": "Point",
                  "coordinates": [
                    {{driver_location.driver_loc}}
                  ]
                },
                "properties": {
                  "phoneFormatted": "(202) 234-7336",
                  "coordinates": [
                    {{driver_location.driver_loc}}
                  ],
                  "city": "Hyderabad",
                  "country": "India",
                  "crossStreet": "at 15th St NW",
                  "postalCode": "500060",
                  "state": "Telangana"
                }
              },
              
              
            ]
          };
          
        
        /**
         * Assign a unique id to each store. You'll use this `id`
         * later to associate each point on the map with a listing
         * in the sidebar.
        */
        stores.features.forEach(function(store, i){
          store.properties.id = i;
        });
  
        /**
         * Wait until the map loads to make changes to the map.
        */
        map.on('load', function (e) {
          /** 
           * This is where your '.addLayer()' used to be, instead
           * add only the source without styling a layer
          */
          map.addSource("places", {
            "type": "geojson",
            "data": stores
          });
  
          /**
           * Add all the things to the page:
           * - The location listings on the side of the page
           * - The markers onto the map
          */
          buildLocationList(stores);
          addMarkers();
        });
  
        /**
         * Add a marker to the map for every store listing.
        **/
        function addMarkers() {
          /* For each feature in the GeoJSON object above: */
          stores.features.forEach(function(marker) {
            /* Create a div element for the marker. */
            var el = document.createElement('div');
            /* Assign a unique `id` to the marker. */
            el.id = "marker-" + marker.properties.id;
            /* Assign the `marker` class to each marker for styling. */
            el.className = 'marker';
            
            /**
             * Create a marker using the div element
             * defined above and add it to the map.
            **/
            new mapboxgl.Marker(el, { offset: [0, -23] })
              .setLngLat(marker.geometry.coordinates)
              .addTo(map);
  
            /**
             * Listen to the element and when it is clicked, do three things:
             * 1. Fly to the point
             * 2. Close all other popups and display popup for clicked store
             * 3. Highlight listing in sidebar (and remove highlight for all other listings)
            **/
            el.addEventListener('click', function(e){
              /* Fly to the point */
              flyToStore(marker);
              /* Close all other popups and display popup for clicked store */
              createPopUp(marker);
              /* Highlight listing in sidebar */
              var activeItem = document.getElementsByClassName('active');
              e.stopPropagation();
              if (activeItem[0]) {
                activeItem[0].classList.remove('active');
              }
              var listing = document.getElementById('listing-' + marker.properties.id);
              listing.classList.add('active');
            });
          });
        }
  
        /**
         * Add a listing for each store to the sidebar.
        **/
        function buildLocationList(data) {
          data.features.forEach(function(store, i){
            /**
             * Create a shortcut for `store.properties`,
             * which will be used several times below.
            **/
            var prop = store.properties;
  
            /* Add a new listing section to the sidebar. */
            var listings = document.getElementById('listings');
            var listing = listings.appendChild(document.createElement('div'));
            /* Assign a unique `id` to the listing. */
            listing.id = "listing-" + prop.id;
            /* Assign the `item` class to each listing for styling. */
            listing.className = 'item';
  
            /* Add the link to the individual listing created above. */
            var link = listing.appendChild(document.createElement('a'));
            link.href = '#';
            link.className = 'title';
            link.id = "link-" + prop.id;
            link.innerHTML = '<input type="submit" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" value="Click to Track">';
  
            /* Add details to the individual listing. */
            var details = listing.appendChild(document.createElement('div'));
            //details.innerHTML = prop.address + ', '+prop.city;
            /*if (prop.phone) {
              details.innerHTML += ' <br> <b>Phone No:</b>  ' + '<a href="tel: prop.phone">'+prop.phone+'</a>';
            }*/
  
            /**
             * Listen to the element and when it is clicked, do four things:
             * 1. Update the `currentFeature` to the store associated with the clicked link
             * 2. Fly to the point
             * 3. Close all other popups and display popup for clicked store
             * 4. Highlight listing in sidebar (and remove highlight for all other listings)
            **/
            link.addEventListener('click', function(e){
              for (var i=0; i < data.features.length; i++) {
                if (this.id === "link-" + data.features[i].properties.id) {
                  var clickedListing = data.features[i];
                  flyToStore(clickedListing);
                  createPopUp(clickedListing);
                }
              }
              var activeItem = document.getElementsByClassName('active');
              if (activeItem[0]) {
                activeItem[0].classList.remove('active');
              }
              this.parentNode.classList.add('active');
            });
          });
        }
  
        /**
         * Use Mapbox GL JS's `flyTo` to move the camera smoothly
         * a given center point.
        **/
        function flyToStore(currentFeature) {
          map.flyTo({
            center: currentFeature.geometry.coordinates,
            zoom: 15
          });
        }
  
        /**
         * Create a Mapbox GL JS `Popup`.
        **/
        function createPopUp(currentFeature) {
          var popUps = document.getElementsByClassName('mapboxgl-popup');
          if (popUps[0]) popUps[0].remove();
          var popup = new mapboxgl.Popup({closeOnClick: false})
            .setLngLat(currentFeature.geometry.coordinates)
            .setHTML('<h3>Ambulance</h3>' +
              '<h4>Reaching shortly..</h4>')
            .addTo(map);
        }
      </script>
</body>
</html>
